*{
   padding: 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 2px solid black;
}



.list-and-redaction-div{
  display: flex;
 justify-content: space-around;
 gap: 20px;
 padding:  20px 0;

}
