* {
  padding: 10px;
}

.title {
  border: 2px solid black;
}

.list-and-redaction-div {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 10px 0;
  width: 100%;
  height: 100%;
}
